/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders .round-div{
  height: 220px;
  width: 220px;
  border-radius: 110px;
  text-align: center;
}
.placeholders #round-div-1{
  background-color: #00FF99;
}
.placeholders #round-div-2{
  background-color: #FF99FF;
}

.placeholders #round-div-3{
  background-color: #FFCC66;
}

.placeholders #round-div-4{
  background-color: #66CCFF;
}
.placeholders .round-div i{
  margin-top: 70px;
  margin-left: 5px;
  color:white;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
div.table-responsive{
  text-align: -moz-left;
  text-align: left;
}
div.table-responsive div.table-heading{
  width:100%;
  float:left;
  border-bottom:1px solid #EEE;
  margin-bottom: 10px;
}

div.table-responsive #filter{
  padding:5px;
  float:right;
}
div.table-responsive #filter label{
  margin-right:10px;
}
div.table-responsive #filter #filter-input{
  border-radius:5px;
}
div.table-responsive h2.sub-header{
  padding: 5px;
  float:left;
  margin: 0px;
  border:0px;
}
div.table-responsive thead th{
  font-size: 13px;
}
div.table-responsive thead th a{
  text-decoration: none;
}
div.table-responsive thead th a:hover{
  text-decoration: none;
}
div.table-responsive thead th a:active{
  text-decoration: none;
}

div.table-responsive tbody td{
  font-size: 12px;
  text-shadow:1px 1px #D2D2D2;
}
div.table-responsive span.asc-span{
  padding:2px;
}
div.table-responsive span.desc-span{
  padding:2px 2px 0px 2px;
}
div.table-responsive .fa-sort-asc{
  position: relative;
  margin-top:0px;
}
