<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Admin Panel Tabel</title>

	<!-- Link To Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<!-- Link To FontAwesome CSS -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

</head>
<body>
<div id="wrapper">
	<header>
	</header>
	
	<section></section>
	<div ng-app ng-init="interns=[
	{firstname : 'Ashwarya', lastname : 'Trehan', joining_date :'2015-05-01', field : 'Web Frontend'},
	{firstname : 'Ramita', lastname : 'Manchanda', joining_date :'2015-05-01', field : 'Web Frontend'},
	{firstname : 'Piyush', lastname : 'Jain', joining_date :'2015-05-01', field : 'Android'},
	{firstname : 'Mehak', lastname : 'Satija', joining_date :'2015-05-01', field : 'Web Frontend'},
	{firstname : 'Jaskirat', lastname : 'Singh Kanwal', joining_date :'2015-05-01', field : 'IOS'},
	{firstname : 'Jashnpreet', lastname : 'Singh', joining_date :'2015-05-01', field : 'Web Backend'},
	{firstname : 'Gagandeep', lastname : 'Kaur', joining_date :'2015-05-01', field : 'Web Frontend'},
	]">
		<label>Filter : </label><input type="text" ng-model="search.$">
		<table class="table table-bordered table-hover">
			<thead>
				<th>
					<a href="" ng-click="reverse = predicate == 'firstname' && !reverse; predicate = 'firstname'">
						FIRSTNAME
						<span ng-show="!reverse && predicate == 'firstname'"><i class="fa fa-sort-asc"></i></span>
						<span ng-show="reverse && predicate == 'firstname'"><i class="fa fa-sort-desc"></i></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="reverse = predicate == 'lastname' && !reverse; predicate = 'lastname'">
						LASTNAME
						<span ng-show="!reverse && predicate == 'lastname'"><i class="fa fa-sort-asc"></i></span>
						<span ng-show="reverse && predicate == 'lastname'"><i class="fa fa-sort-desc"></i></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="reverse = predicate == 'joining_date' && !reverse; predicate = 'joining_date'">
						JOINING DATE
			
						<span ng-show="!reverse && predicate == 'joining_date' "><i class="fa fa-sort-asc"></i></span>
						<span ng-show="reverse && predicate == 'joining_date'"><i class="fa fa-sort-desc"></i></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="reverse = predicate == 'field' && !reverse; predicate = 'field'">
						FIELD
						<span ng-show="!reverse && predicate == 'field'"><i class="fa fa-sort-asc"></i></span>
						<span ng-show="reverse && predicate == 'field'"><i class="fa fa-sort-desc"></i></span>
					</a>
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="internobj in interns | filter:search:strict | orderBy:predicate:reverse">
					<td>{{internobj.firstname}}</td>
					<td>{{internobj.lastname}}</td>
					<td>{{internobj.joining_date}}</td>
					<td>{{internobj.field}}</td>
				</tr>
			</tbody>	
		</table>

	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
</body>
</html>